@import '../../styles/variables.scss';

.form-group {
  width: 65%;
  margin: 0 auto;
  display: inline-block;
  label, input {
    display: block;
  }
  label {
    margin-bottom: 5px;
    font-size: 14px;
  }
  input {
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px 0;
    background: transparent;
    box-sizing: border-box;
    color: $color-base;
    font-size: 20px;
  }
  .text-danger {
    color: $primary-color;
    font-size: 13px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }
}

.button-label {
  width: 80%;
  max-width: 280px;
  text-transform: uppercase;
  display: inline-block;
  margin: 5px;
  font-weight: 600;
  text-align: center;
  .form-group {
    width: 100%;
  }
  .inner-button {
    padding: 15px 8px;
    border: 1px solid $color-base;
    color: $color-base;
    border-radius: 30px;
    cursor: pointer;
    transition: all ease-in-out 300ms;
    &.small-font {
      font-size: 13px;
    }
  }
  input[type=radio] {
    display: none;
    &:checked + .inner-button, &:hover + .inner-button {
      background: $primary-color;
      border-color: $primary-color;
      color: #FFF;
    }
  }
}
