@import '../../styles/variables.scss';

.loading-dots {
  text-indent: 40px;
  width: 100%;

  &.light &--dot {
    background-color: $loader-dot-light;
  }

  &.dark &--dot {
    background-color: $loader-dot-dark;
  }

  &--dot {
    animation: dot-keyframes 1.5s infinite ease-in-out;
    border-radius: 10px;
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 2px;

    &:nth-child(2) {
      animation-delay: 0.5s;
    }

    &:nth-child(3) {
      animation-delay: 1s;
    }
  }
}

@keyframes dot-keyframes {
  0% {
    opacity: 0.4;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(1.2, 1.2);
  }

  100% {
    opacity: 0.4;
    transform: scale(1, 1);
  }
}
