@import '../../styles/variables.scss';

.form {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  &.align-center {
    text-align: center;
  }
  .font-size-ios {
    input::-webkit-input-placeholder {
      line-height: 2 !important; // centralize placeholder in iphone
    }
    select,
    input {
      font-size: 16px;
    }
    select:focus,
    input:focus {
      font-size: 16px;
    }
  }

  .spaceless-mode {
    .login-title {
      margin: 10px 0px;
    }
    .content-divisor {
      margin: 10px 0px;
    }
  }
}
