@import '../../styles/variables.scss';

.profile-container {
  .content {
    padding: 0;
    margin: 0;
    max-width: none;
  }
  p {
    margin: 0 0;
    font-size: 20px;
  }
  p:first-child {
    margin: 50px 0;
  }
  .profile-name {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
  }
  .profile-description {
    min-height: 330px;
    box-sizing: border-box;
    background: linear-gradient(205deg, $color-background, $primary-color);
    padding: 50px 15px;
    color: #FFF;
    background-blend-mode: overlay;
    text-shadow: 1px 1px 3px #000;
    .middle {
      max-width: 700px;
      margin: 0 auto;
    }
  }
  .card {
    padding: 15px;
    max-width: 700px;
    margin: 10px auto;
    .btn {
      margin: 40px auto;
      display: block;
      width: 175px;
    }
  }
}
