@import './variables.scss';

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.default-template {
  padding-top: 85px;
}
.btn {
  background-color: $button-bg;
  border: 0;
  color: $button-text;
  padding: 20px 30px;
  border-radius: 30px;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  transition: all ease-in-out 300ms;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  &:hover {
    cursor: pointer;
    background: $button-hover;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  transition: all ease-in-out 1s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
    margin-left: -20px;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}
