// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$color-base: #2e2d33;
$color-background: #fff;

// Colors
$primary-color: #ee2e5d;
$loader-dot-light: #ccc;
$loader-dot-dark: #333;
$button-bg: #2e2d33;
$button-text: #fff;
$button-hover: #000;
$header-bg: #fff;
$input-container: #ccc;
