@import '../../styles/variables.scss';

.content {
  max-width: 700px;
  margin: 50px auto;
  padding: 0 15px;
  box-sizing: border-box;
  .chat-container {
    font-size: 20px;
    padding-bottom: 145px;
    .message {
      margin-bottom: 30px;
      position: relative;
      &.bot {
        padding-left: 40px;
        text-align: left;
        &:before {
          content: "";
          width: 30px;
          height: 30px;
          background-image: url("../../img/warren.png");
          background-size: contain;
          position: absolute;
          left: 0;
        }
      }
      &.customer {
        text-align: right;
        padding-right: 40px;
        font-weight: 600;
        &:after {
          content: "";
          width: 30px;
          height: 30px;
          background-image: url("../../img/user.png");
          background-size: contain;
          position: absolute;
          right: 0;
        }
      }
      .erase {
        text-decoration: line-through;
      }
    }
  }

  .input-container {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: -140px;
    opacity: 0;
    background: $input-container;
    padding: 30px 15px;
    box-sizing: border-box;
    transition: all ease-in-out 300ms;
    &.visible {
      bottom: 0;
      opacity: 1;
    }
    button[type=submit] {
      position: absolute;
      top: calc(50% - 25px);
      right: 5px;
      opacity: 1;
      &.hidden {
        transform: scale(0);
        opacity: 0;
      }
      &:disabled {
        opacity: 0.5;
      }
    }
  }
}
