@import '../../styles/variables.scss';

.header {
  min-height: 80px;
  box-shadow: 0px 0px 7px #CCC;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: $header-bg;

  img {
    display: inline-block;
    margin: 15px 0;
  }
  h1 {
    display: inline-block;
    font-size: 13px;
    vertical-align: top;
    margin: 32px auto 32px 10px;
    &:before {
      content: "|";
      margin-right: 5px;
      font-size: 16px;
    }
  }
}
